@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Lato:wght@400&display=swap');

input[type=text], input[type=password]
{
    background-color: #ddd;
    color: #000;
    width: 100%;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
}

button
{
    background-color: #397C7A;
    border-radius: 10px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover
{
    opacity: 0.7;
}

.imgcontainer
{
    text-align: center;
    margin: 24px 0 12px 0;
}

img.logo
{
    width: 12.5%;
    border-radius: 50%;
}

.container
{
    width: 450px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 16px;
    background: #eee;
}

.corpname
{
    color: #fff;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.label
{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}