@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

input[type="text"],
input[type="password"] {
  background-color: #ddd;
  color: #000;
  width: 100%;
  border-radius: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #333;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

button {
  background-color: #397c7a;
  border-radius: 10px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

button:hover {
  opacity: 0.7;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.logo {
  width: 12.5%;
  border-radius: 50%;
}

.container {
  width: 450px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 16px;
  background: #eee;
}

.corpname {
  color: #fff;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.label {
  font-size: 15px;
  font-weight: 500;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
