@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Lato:wght@400&display=swap");

.sidebar 
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a 
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover 
{
  color: #f1f1f1;
}

.sidebar a.cur
{
  color: #f1f1f1;
  border-left: 4px solid #f1f1f1;
  padding-left: 28px; /* compensa el espacio que roba el borde */
}

.sidebar .closebtn 
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn 
{
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover 
{
  background-color: #444;
}

#main 
{
  transition: margin-left .5s;
  padding: 16px;
}

.sidebar-footer 
{
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
}

.sidebar-footer img 
{
  width: 90px;
  opacity: 0.9;
  filter: brightness(0.95);
}
